<div class="col-md-4 offset-4 images">
    <div class="instra">
        <img class="RP4i1  " src="https://www.instagram.com/static/images/homepage/screenshot1.jpg/d6bf0c928b5a.jpg"
            alt="image">
        <!-- <img class="RP4i1  " src="https://www.instagram.com/static/images/homepage/screenshot2.jpg/6f03eb85463c.jpg"
            alt="image">
        <img class="RP4i1  " src="https://www.instagram.com/static/images/homepage/screenshot3.jpg/f0c687aa6ec2.jpg"
            alt="image">
        <img class="RP4i1  UVauz" src="/static/images/homepage/screenshot4.jpg/842fe5699220.jpg" alt="">
        <img class="RP4i1 JtrJi " src="/static/images/homepage/screenshot5.jpg/0a2d3016f375.jpg" alt=""> -->
    </div>
</div>
<div class="col-md-3  signupform text-center">

    <h1>instragram</h1>
    <p>sign up to see photos and videos using facebook</p>
    <button class="btn btn-primary ">Login to Facebook</button>
    <p>----------or-------------</p>
    <form action="" #template='ngForm' (ngSubmit)="submit(template)">
        <div class="form-group">
            <input ngModel name="email" type="text" class="form-control mt-2 mb-2" required
                placeholder="Phone number or email" />
            <input ngModel name="fullname" type="text" class="form-control mt-2 mb-2" required placeholder="fullname">
            <input ngModel name="username" type="text" class="form-control mt-2 mb-2" required placeholder="username">
            <input ngModel name="password" type="password" class="form-control mt-2 mb-2" required
                placeholder="password">
            <button class="btn btn-primary form-control ">login</button>
            <p class="mt-4 mb-3 ">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
        </div>
    </form>
</div>